<div fxLayout="column" fxLayoutAlign="center center">
  <div
    fxLayout="row"
    fxLayoutAlign="space-around center"
    style="background-color: #ffffff; width: 100%"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      id="top-nav-left"
      style="width: 100%"
    >
      <!-- <a
        class="mat-body"
        href="#"
        style="color: #616161 !important; cursor: pointer; padding: 2px 8px"
        target="_blank"
        >donate</a
      > -->
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%">
      <a
        class="mat-body"
        href="tel:+918086892010"
        style="color: #616161 !important; cursor: pointer; padding: 2px 8px"
        >+918086892010</a
      >
      <!-- <span>|</span> -->
      <a
        class="mat-body"
        href="mailto:hi@ecc.charity"
        style="color: #616161 !important; cursor: pointer; padding: 2px 8px"
        >hi@ecc.charity</a
      >
    </div>
  </div>

  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    style="padding: 48px 32px"
  >
    <div class="mat-headline" style="margin: 0; padding: 0; text-align: center">
      Charitable Services of ECC India Trust
    </div>
    <div
      class="mat-subheading-1"
      style="color: #9e9e9e; margin: 0; padding: 0; text-align: right"
    >
      with
      <a
        class="mat-body"
        href="http://www.ecumenicalccc.org"
        style="color: #9e9e9e !important; cursor: pointer"
        target="_blank"
        >www.ecumenicalccc.org</a
      >
    </div>
  </div>

  <div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    style="padding: 0 16px"
  >
    <a href="/about-us" mat-stroked-button>ABOUT US</a>
    <a href="/archives" mat-stroked-button>ARCHIVES</a>
    <a href="/contact-us" mat-stroked-button>CONTACT US</a>
    <a href="/donate" mat-stroked-button>DONATE</a>
    <a href="/faq" mat-stroked-button>FAQ</a>
  </div>

  <div style="padding: 48px 0">
    <router-outlet></router-outlet>
  </div>
</div>
