@media only screen and (max-width: 512px) {
  #top-nav-left {
    display: none !important;
  }

  #toolbar {
    padding: 0 !important;
  }
}

a[mat-stroked-button] {
  background-color: #ffffff;
  cursor: pointer;
  margin: 2px;
}
