<div fxLayout="column" fxLayoutAlign="center center">
  <div
    fxLayout="row"
    fxLayoutAlign="space-around center"
    style="background-color: #ffffff; color: #e0e0e0; width: 100%"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      id="top-nav-left"
      style="background-color: #ffffff; color: #e0e0e0; width: 100%"
    >
      <a
        class="mat-body"
        href="#about"
        style="color: #616161 !important; cursor: pointer; padding: 2px 8px"
        >about us</a
      >
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="end center"
      style="background-color: #ffffff; color: #e0e0e0; width: 100%"
    >
      <a
        class="mat-body"
        href="tel:+918086892010"
        style="color: #616161 !important; cursor: pointer; padding: 2px 8px"
        >+918086892010</a
      >
      <span>|</span>
      <a
        class="mat-body"
        href="mailto:hi@ecc.charity"
        style="color: #616161 !important; cursor: pointer; padding: 2px 8px"
        >hi@ecc.charity</a
      >
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" style="width: 768px">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      style="min-height: 96px; padding: 24px; width: 100%"
    ></div>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      style="min-height: 96px; padding: 24px; width: 100%"
    ></div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
